<div class="container" >
<div  class=" mainrow row  mt-4 mb-4">
    <div class="col-md-6 col-2 pt-4 pm-4  " >
  <div class="dropdown-toggle" id="navbarDropdown" style="width:50px" role="button" data-toggle="dropdown">    
      <img src="../../assets/Image/ic_menu.png"  class="menu-img" >
  </div>
  
    <div class="dropdown-menu mt-4" >
      <div class="dropdown-item1   "   >
 <img src="../../assets/Image/ahmad.PNG">
      </div>
      <div class="dropdown-item1 " href="#"  >
   
        <h3  > احمد عربيات </h3>
      </div>
      <div  class="dropdown-item ">
     <div style="float:right "> 
        <img  src="../../assets/Image/ic_hunactive.png"> 
       </div> 
       <div style="padding-left:150px" >  
   <h3>  الرئيسية
     </h3>  </div>   </div>
   
      <div  class="dropdown-item" >
        <div style="float:right "> 
          <img  src="../../assets/Image/ic_sunactive.png"> 
         </div> 
         <div style="padding-left:150px" > 
        <h3>
   المشاهير
   </h3></div>
      </div>
      <div  class="dropdown-item" >
        <div style="float:right "> 
          <img  src="../../assets/Image/ic_shunactive.png"> 
         </div> 
         <div style="padding-left:150px" > 
        <h3>
  
   المتاجر
   </h3></div>
    
          </div>
          <div  class="dropdown-item" >
            <div style="float:right "> 
              <img  src="../../assets/Image/ic_dunactive.png"> 
             </div> 
             <div style="padding-left:150px" > 
      <h3>
        لوحة التحم
           </h3>
      
      </div>
           
              </div>
              <div  class="dropdown-item mb-4" >
                <div style="float:right "> 
                  <img  src="../../assets/Image/ic_sunactive.png"> 
                 </div> 
                 <div style="padding-left:150px" > 
                <h3>
               اتصل بنا
               </h3> 
        </div>
               
                  </div>
                  <div  class="dropdown-item mt-4 bm-4" >
                    <h3 style="padding-left: 40%" >
                   تسجيل الدخول
                   </h3>
                      </div>
  </div></div>
  <div class="col-md-6 col-2">
    <img src="../../assets/Image/logo.png"  class="logo" >
  </div>

</div>
</div>
<div class="container  mt-4 pt-4  section">
<div class="row " >

  <div classs=" col-3 col-md-1 ">
    <img src="../../assets/Image/careemlog.jpg" class="careemlogo">

  </div>
  <div class="col-3  col-md-2" >

<h1 class="lblcareemlogo mt-2" > كريم </h1>
  </div>
<div class="col-3 col-md-2">
  <div class="row-fluid">
    <div class="span2">
        <div class="well">
          <h3> 
          35
          </h3></div>
    </div>
    <div class="span2">
        <div class="well">
            <h3>
          متابع
          </h3>
        </div>
    </div>
</div>
</div>
<div class="col-3  col-md-2">
<div class="row-fluid">
    <div class="span2">
        <div class="well">
          <h3>
          30
        </h3>
      </div>
    </div>
    <div class="span2">
        <div class="well">
      <h3>
     كوبون
         </h3> 
        </div>
    </div>
</div>
</div>
  
<div class="col-9 mt-4 col-md-3">

  <button class="btn">

 
      متابعة
 
  </button>
</div>

<div class="col-3 col-md-2 mt-3">
    <i class="material-icons">
        keyboard_backspace
        </i>
</div>
</div>
<div class="row mt-4  mb-4">
<div class="col-md-6 col-12" >
    <div class="row">
        <div class="span2">
            <div class="well">
             </div> <p>
               كريم تطبيقك الاول لحجز السيارات في الشرق
            </p>
        </div>
        <div class="span2">
            <div class="well ">
           
<p> 
  الأوسط  وشمال أفريقيا  وتركيا وباكستان

</p>
            </div>
        </div>
    </div>

</div>
</div>
<div class="row  mt-4">


 
  <h3>
    الكوبونات
</h3>  

</div>
<br>
<br>
<div class="row">  
  <div  class="col-1  ml-3"></div>
   <div class="col-11 ">
     <ngb-carousel>
        <ng-template ngbSlide>
   
            <div class="col-xs-3">
                         
               
                    <div class="list ">
      
                        <div class="d-flex  bd-highlight row">
                            <div class="p-4 bd-highlight">
                             <label>
                               20 سبتمبر
                             </label> 
                    
                            </div>
                            <div class="pt-4 bd-highlight"><button class="btnactive" > فعال  </button></div>
                    
                          </div>
                    
                    <div class="row p-4" >
                    
                    <label>
                      % خصم 25 <br>
                    على الاكسسوارات
                    </label>
                    
                    
                    </div>
                    
                    
                    <div class="d-flex  bd-highlight row mb-2">
                        <div class="p-2 bd-highlight  lblcode "  >
                         <label  style="color:rgba(244, 207 ,72 , 1) " >
                        tariqh2913ui
                         </label> 
                    
                        </div>
                     
                        <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                              <i  class="material-icons">
                            share
                            </i>
                        
                        </button>
                          
                          </div>
                    
                      </div>
                    
                    
                            
                    
                    </div>
                </div>
            
            <div class="col-xs-3">
              
                   <div class="list  ml-1">
      
                       <div class="d-flex  bd-highlight row">
                           <div class="p-4 bd-highlight">
                            <label>
                              20 سبتمبر
                            </label> 
                   
                           </div>
                           <div class="pt-4 bd-highlight"><button class="btndisactive" > منهي </button></div>
                   
                         </div>
                   
                   <div class="row p-4" >
                   
                   <label>
                     % خصم 25 <br>
                   على الاكسسوارات
                   </label>
                   
                   
                   </div>
                   
                   
                   <div class="d-flex  bd-highlight row mb-2">
                       <div class="p-2 bd-highlight  lblcode "  >
                        <label  style="color:rgba(244, 207 ,72 , 1) " >
                       tariqh2913ui
                        </label> 
                   
                       </div>
                    
                       <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                             <i  class="material-icons">
                           share
                           </i>
                       
                       </button>
                         
                         </div>
                   
                     </div>
                   
                   
                           
                   
                   </div>
      
                 </div>
          
                 <div class="col-xs-3">
                         
               
                    <div class="list ml-1">
      
                        <div class="d-flex  bd-highlight row">
                            <div class="p-4 bd-highlight">
                             <label>
                               20 سبتمبر
                             </label> 
                    
                            </div>
                            <div class="pt-4 bd-highlight"><button class="btnactive" > فعال  </button></div>
                    
                          </div>
                    
                    <div class="row p-4" >
                    
                    <label>
                      % خصم 25 <br>
                    على الاكسسوارات
                    </label>
                    
                    
                    </div>
                    
                    
                    <div class="d-flex  bd-highlight row mb-2">
                        <div class="p-2 bd-highlight  lblcode "  >
                         <label  style="color:rgba(244, 207 ,72 , 1) " >
                        tariqh2913ui
                         </label> 
                    
                        </div>
                     
                        <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                              <i  class="material-icons">
                            share
                            </i>
                        
                        </button>
                          
                          </div>
                    
                      </div>
                    
                    
                            
                    
                    </div>
                </div>
                <div class="col-xs-3">
              
                    <div class="list  ml-1">
       
                        <div class="d-flex  bd-highlight row">
                            <div class="p-4 bd-highlight">
                             <label>
                               20 سبتمبر
                             </label> 
                    
                            </div>
                            <div class="pt-4 bd-highlight"><button class="btndisactive" > منهي </button></div>
                    
                          </div>
                    
                    <div class="row p-4" >
                    
                    <label>
                      % خصم 25 <br>
                    على الاكسسوارات
                    </label>
                    
                    
                    </div>
                    
                    
                    <div class="d-flex  bd-highlight row mb-2">
                        <div class="p-2 bd-highlight  lblcode "  >
                         <label  style="color:rgba(244, 207 ,72 , 1) " >
                        tariqh2913ui
                         </label> 
                    
                        </div>
                     
                        <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                              <i  class="material-icons">
                            share
                            </i>
                        
                        </button>
                          
                          </div>
                    
                      </div>
                    
                    
                            
                    
                    </div>
       
                  </div>
           
             
            </ng-template>
  
            <ng-template ngbSlide>
   
                <div class="col-xs-3">
                             
                   
                        <div class="list ">
          
                            <div class="d-flex  bd-highlight row">
                                <div class="p-4 bd-highlight">
                                 <label>
                                   20 سبتمبر
                                 </label> 
                        
                                </div>
                                <div class="pt-4 bd-highlight"><button class="btnactive" > فعال  </button></div>
                        
                              </div>
                        
                        <div class="row p-4" >
                        
                        <label>
                          % خصم 25 <br>
                        على الاكسسوارات
                        </label>
                        
                        
                        </div>
                        
                        
                        <div class="d-flex  bd-highlight row mb-2">
                            <div class="p-2 bd-highlight  lblcode "  >
                             <label  style="color:rgba(244, 207 ,72 , 1) " >
                            tariqh2913ui
                             </label> 
                        
                            </div>
                         
                            <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                                  <i  class="material-icons">
                                share
                                </i>
                            
                            </button>
                              
                              </div>
                        
                          </div>
                        
                        
                                
                        
                        </div>
                    </div>
                
                <div class="col-xs-3">
                  
                       <div class="list  ml-1">
          
                           <div class="d-flex  bd-highlight row">
                               <div class="p-4 bd-highlight">
                                <label>
                                  20 سبتمبر
                                </label> 
                       
                               </div>
                               <div class="pt-4 bd-highlight"><button class="btndisactive" > منهي </button></div>
                       
                             </div>
                       
                       <div class="row p-4" >
                       
                       <label>
                         % خصم 25 <br>
                       على الاكسسوارات
                       </label>
                       
                       
                       </div>
                       
                       
                       <div class="d-flex  bd-highlight row mb-2">
                           <div class="p-2 bd-highlight  lblcode "  >
                            <label  style="color:rgba(244, 207 ,72 , 1) " >
                           tariqh2913ui
                            </label> 
                       
                           </div>
                        
                           <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                                 <i  class="material-icons">
                               share
                               </i>
                           
                           </button>
                             
                             </div>
                       
                         </div>
                       
                       
                               
                       
                       </div>
          
                     </div>
              
                     <div class="col-xs-3">
                             
                   
                        <div class="list ml-1">
          
                            <div class="d-flex  bd-highlight row">
                                <div class="p-4 bd-highlight">
                                 <label>
                                   20 سبتمبر
                                 </label> 
                        
                                </div>
                                <div class="pt-4 bd-highlight"><button class="btnactive" > فعال  </button></div>
                        
                              </div>
                        
                        <div class="row p-4" >
                        
                        <label>
                          % خصم 25 <br>
                        على الاكسسوارات
                        </label>
                        
                        
                        </div>
                        
                        
                        <div class="d-flex  bd-highlight row mb-2">
                            <div class="p-2 bd-highlight  lblcode "  >
                             <label  style="color:rgba(244, 207 ,72 , 1) " >
                            tariqh2913ui
                             </label> 
                        
                            </div>
                         
                            <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                                  <i  class="material-icons">
                                share
                                </i>
                            
                            </button>
                              
                              </div>
                        
                          </div>
                        
                        
                                
                        
                        </div>
                    </div>
                    <div class="col-xs-3">
                  
                        <div class="list  ml-1">
           
                            <div class="d-flex  bd-highlight row">
                                <div class="p-4 bd-highlight">
                                 <label>
                                   20 سبتمبر
                                 </label> 
                        
                                </div>
                                <div class="pt-4 bd-highlight"><button class="btndisactive" > منهي </button></div>
                        
                              </div>
                        
                        <div class="row p-4" >
                        
                        <label>
                          % خصم 25 <br>
                        على الاكسسوارات
                        </label>
                        
                        
                        </div>
                        
                        
                        <div class="d-flex  bd-highlight row mb-2">
                            <div class="p-2 bd-highlight  lblcode "  >
                             <label  style="color:rgba(244, 207 ,72 , 1) " >
                            tariqh2913ui
                             </label> 
                        
                            </div>
                         
                            <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                                  <i  class="material-icons">
                                share
                                </i>
                            
                            </button>
                              
                              </div>
                        
                          </div>
                        
                        
                                
                        
                        </div>
           
                      </div>
               
                 
                </ng-template>   <ng-template ngbSlide>
   
                    <div class="col-xs-3">
                                 
                       
                            <div class="list ">
              
                                <div class="d-flex  bd-highlight row">
                                    <div class="p-4 bd-highlight">
                                     <label>
                                       20 سبتمبر
                                     </label> 
                            
                                    </div>
                                    <div class="pt-4 bd-highlight"><button class="btnactive" > فعال  </button></div>
                            
                                  </div>
                            
                            <div class="row p-4" >
                            
                            <label>
                              % خصم 25 <br>
                            على الاكسسوارات
                            </label>
                            
                            
                            </div>
                            
                            
                            <div class="d-flex  bd-highlight row mb-2">
                                <div class="p-2 bd-highlight  lblcode "  >
                                 <label  style="color:rgba(244, 207 ,72 , 1) " >
                                tariqh2913ui
                                 </label> 
                            
                                </div>
                             
                                <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                                      <i  class="material-icons">
                                    share
                                    </i>
                                
                                </button>
                                  
                                  </div>
                            
                              </div>
                            
                            
                                    
                            
                            </div>
                        </div>
                    
                    <div class="col-xs-3">
                      
                           <div class="list  ml-1">
              
                               <div class="d-flex  bd-highlight row">
                                   <div class="p-4 bd-highlight">
                                    <label>
                                      20 سبتمبر
                                    </label> 
                           
                                   </div>
                                   <div class="pt-4 bd-highlight"><button class="btndisactive" > منهي </button></div>
                           
                                 </div>
                           
                           <div class="row p-4" >
                           
                           <label>
                             % خصم 25 <br>
                           على الاكسسوارات
                           </label>
                           
                           
                           </div>
                           
                           
                           <div class="d-flex  bd-highlight row mb-2">
                               <div class="p-2 bd-highlight  lblcode "  >
                                <label  style="color:rgba(244, 207 ,72 , 1) " >
                               tariqh2913ui
                                </label> 
                           
                               </div>
                            
                               <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                                     <i  class="material-icons">
                                   share
                                   </i>
                               
                               </button>
                                 
                                 </div>
                           
                             </div>
                           
                           
                                   
                           
                           </div>
              
                         </div>
                  
                         <div class="col-xs-3">
                                 
                       
                            <div class="list ml-1">
              
                                <div class="d-flex  bd-highlight row">
                                    <div class="p-4 bd-highlight">
                                     <label>
                                       20 سبتمبر
                                     </label> 
                            
                                    </div>
                                    <div class="pt-4 bd-highlight"><button class="btnactive" > فعال  </button></div>
                            
                                  </div>
                            
                            <div class="row p-4" >
                            
                            <label>
                              % خصم 25 <br>
                            على الاكسسوارات
                            </label>
                            
                            
                            </div>
                            
                            
                            <div class="d-flex  bd-highlight row mb-2">
                                <div class="p-2 bd-highlight  lblcode "  >
                                 <label  style="color:rgba(244, 207 ,72 , 1) " >
                                tariqh2913ui
                                 </label> 
                            
                                </div>
                             
                                <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                                      <i  class="material-icons">
                                    share
                                    </i>
                                
                                </button>
                                  
                                  </div>
                            
                              </div>
                            
                            
                                    
                            
                            </div>
                        </div>
                        <div class="col-xs-3">
                      
                            <div class="list  ml-1">
               
                                <div class="d-flex  bd-highlight row">
                                    <div class="p-4 bd-highlight">
                                     <label>
                                       20 سبتمبر
                                     </label> 
                            
                                    </div>
                                    <div class="pt-4 bd-highlight"><button class="btndisactive" > منهي </button></div>
                            
                                  </div>
                            
                            <div class="row p-4" >
                            
                            <label>
                              % خصم 25 <br>
                            على الاكسسوارات
                            </label>
                            
                            
                            </div>
                            
                            
                            <div class="d-flex  bd-highlight row mb-2">
                                <div class="p-2 bd-highlight  lblcode "  >
                                 <label  style="color:rgba(244, 207 ,72 , 1) " >
                                tariqh2913ui
                                 </label> 
                            
                                </div>
                             
                                <div class="pt-4 bd-highlight"><button class="btnshare"  > 
                                      <i  class="material-icons">
                                    share
                                    </i>
                                
                                </button>
                                  
                                  </div>
                            
                              </div>
                            
                            
                                    
                            
                            </div>
               
                          </div>
                   
                     
                    </ng-template>
     
    </ngb-carousel> 
        </div>
  

      </div>

</div>